body {
    font-family: "Montserrat";
}

#title {
    background-color: #ff4c68;
    color: white;
}

h1 {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-weight: 700;
    font-size: 3rem;
}

.container-fluid {
    padding: 3% 15% 7%;
}

/* Nav Bar */
.navbar {
    padding: 0 0 4.5rem;
}
.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item {
    padding: 0 18px;
    font-weight: 100;
}
.nav-link {
    font-size: 1.2rem;
}

/* Download Buttons */
.download-button {
    margin: 5% 3% 5% 0;
}

/* Joy Image */
.img {
    width: 20%;
    position: absolute;
    right: 25%;
}


/* Features */
#features {
    text-align: center;
    padding: 7% 15%;
    background-color: white;
    position: relative;
    z-index: 1;
}
.features-icon {
    color: #ef8172;
    font-size: 5rem;
    padding-bottom: 1rem;
}
.features-icon:hover {
    color: #ff4c68;
}
.features-subtitle {
    font-size: 1.5rem;
    font-weight: 700;
}
.features-description {
    color: #8f8f8f;
    width: 75%;
    margin: auto;
}

/* Testimonials */
#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: white;
}
.carousel-inner {
    padding: 7% 15%;
}
.testimonial-img {
    width: 10%;
    border-radius: 50%;
    margin: 20px;
}

#press {
    text-align: center;
    background-color: #ef8172;
    padding-bottom: 3%;
}
.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing */
#pricing {
    padding: 100px;
    text-align: center;
}
.pricing-row {
    padding-top: 3%;
}
/* Call for Action */
#cta {
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 15%;
}
.cta-description {
    font-family: "Montserrat";
    color: white;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 1.5;
}

/* Footer */
#footer {
    text-align: center;
    padding: 7% 15%;
}
.footer-fab {
    margin: 0.5rem;
}

@media (max-width: 990px) {
    #title {
        text-align: center;
    }
    .title-img {
        position: static;
        transform: rotate(0);
        width: 60%
    }

}